<div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html " target="_blank">
          <img id="imgLogo" src="/assets/img/logo-footer.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold">Dev Mart</span>
        </a>
      </div>
      <hr class="horizontal dark mt-0">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="/admin">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/productManagement">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-app text-warning text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/categoryManagement">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/userManagement">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/orderMangement?skip=0&limit=10&page=1">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-paper-diploma text-warning text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Pages</h6>
          </li>
         
          <li class="nav-item">
            <a class="nav-link " href="/admin/couponManagement">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-money-coins text-warning text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Coupon</span>
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-calendar-grid-58 text-info text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Banner</span>
            </a>
          </li>
          <div class="collapse" id="collapseExample">
          <li class="nav-item">
            <a class="nav-link " href="/admin/bannerManagement">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-tag text-danger text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Banner Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/bannerManagement/advBanner">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-cart text-secondary text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Advertisement Banner</span>
            </a>
          </li>
        </div>
        </ul>
      </div>
      <div class="sidenav-footer mx-3 ">
        <div class="card card-plain shadow-none" id="sidenavCard">
          <img class="w-50 mx-auto" src="/assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
          <div class="card-body text-center p-3 w-100 pt-0">
            <div class="docs-info">
              <h6 class="mb-0">Sales Report</h6>
              <p class="text-xs font-weight-bold mb-0">pdf / excel</p>
            </div>
          </div>
        </div>

        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-dark myDIV btn-sm w-100 mb-3">PDF</button>
        <a onclick="generateExcel()" class="btn btn-primary btn-sm mb-0 w-100" type="button">Excel</a>
        
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Report</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div style="display: flex; justify-content: center;">
                            <button onclick="generatePdfDaily()" type="button" style="width: 150px;" class="btn btn-secondary mb-2 mt-2 mx-1">Daily<br>report</button><br>
                            <button onclick="generatePdfMonth()" type="button" style="width: 150px;" class="btn btn-secondary mb-2 mt-2 mx-1">Monthly<br>report</button><br>
                            <button onclick="generatePdfYearly()" type="button" style="width: 150px;" class="btn btn-secondary mb-2 mt-2 mx-1">Yearly<br>report</button>
                          </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </aside>
    