<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dev.mart - Online Shopping</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->

    <link rel="icon" type="image/png" sizes="32x32" href="/images/demos/demo-3/logo.png">
    <link rel="manifest" href="/images/icons/site.html">

    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/stylesheets/vendor/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/skins/skin-demo-3.css">
    <link rel="stylesheet" href="/stylesheets/demos/demo-3.css">
    <link rel="stylesheet" href="/stylesheets/css/plugins/nouislider/nouislider.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=<%= locals.paypalClientId %>&currency=USD"></script>

    



</head>

<body>

    
        <%- include('./partials/user_header.ejs')%>
        <%- body %>
        <%- include('./partials/user_footer.ejs')%>




        
         <script src="/javascripts/jquery.min.js"></script>
         <script src="/javascripts/bootstrap.bundle.min.js"></script>
         <script src="/javascripts/jquery.hoverIntent.min.js"></script>
         <script src="/javascripts/jquery.waypoints.min.js"></script>
         <script src="/javascripts/superfish.min.js"></script>
         <script src="/javascripts/owl.carousel.min.js"></script>
         <script src="/javascripts/bootstrap-input-spinner.js"></script>
         <script src="/javascripts/jquery.plugin.min.js"></script>
         <script src="/javascripts/jquery.magnific-popup.min.js"></script>
         <script src="/javascripts/jquery.countdown.min.js"></script>
         <script src="/javascripts/jquery.elevateZoom.min.js"></script>
         <!-- Main JS File -->
         <script src="/javascripts/main.js"></script>
         <script src="/javascripts/demos/demo-3.js"></script>

        
                                
</body>

</html>